<%- include('partials/header.ejs'); -%>
<div class="position-relative text-center">
    <h1 class="sigmar-regular d-inline-block">BOOK NOTES</h1>
   
</div>

<div class="row justify-content-center" style="margin-top: 20px;">
    <div class="container mb-3">
        <div class="btn-group" role="group" aria-label="Default button group">
            <form action="/" method="get">
                <button type="submit" class="btn btn-outline-primary" value="stars" name="order">Stars</button>
                <button type="submit" class="btn btn-outline-primary" value="id" name="order">Newest</button>
            </form>
            <form action="/new" method="post" >
                <button class="btn btn-outline-primary" style="margin-left: 4px;" type="submit">➕ Add new book</button>
            </form>
        </div>
    </div>
    
    <% for(let book of booksList){%>
        <% if(locals.edit && edit == book.id){ %>
            <div class="card mb-3 " style="max-width: 540px; margin: 10px;">
                <div class="row g-0 align-items-center">
            <form id="bookForm" action="/update" method="post">
                <input type="hidden" name="id" value="<%= book.id %>">
                <%- include('partials/edit.ejs', { book: book }) ; -%>
                <button type="submit" class="btn btn-outline-primary mt-3">Save</button>

            </form>
            </div>
            </div>
        <%} else{%>
        <div class="card mb-3 " style="max-width: 540px; margin: 10px;">
            <div class="row g-0 align-items-center">
                <div class="col-md-4">
                <img src=<%= book.img_url %> class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title"><%= book.title %></h5>
                <p class="card-text">
                    <%= new Date(book.start_date).toLocaleDateString('en-US', { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) %>
                    -
                    <%= book.end_date ? new Date(book.end_date).toLocaleDateString('en-US', { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) : "Unfinished" %>
                </p>
                <p class="card-text"><small class="text-body-secondary"><%= book.description%> </small></p>

                <p class="card-text">
                    <% for (let i = 0; i < book.stars; i++) { %>
                      <img class="star" src="/assets/star.png" alt="star">
                    <% } %>
                  </p>
                </div>
                <div class="d-flex gap-2 justify-content-center ">
                    <form action="/delete" method="post">
                        <button class="btn  rounded-circle p-3 lh-1" type="submit" name="deleteBookById" value="<%= book.id %>" >
                            ❌
                        </button>
                    </form>
                    <form action="/edit" method="post">

                        <button class="btn rounded-circle p-3 lh-1" type="submit" name="editBookById" value="<%= book.id %>">
                            ✏️
                        </button>
                    </form>
                  </div>    
            </div>
            </div>
        </div>
        <% } %>
    <% } %>
    </div>

<%- include('partials/footer.ejs'); -%>
